{% extends "base.html" %}

{% block content %}
<script language="javascript">
    function check_input() {
        if(document.getElementById('m1').value == "" || document.getElementById('m2').value == "" || document.getElementById('m3').value == "" || document.getElementById('m4').value == "" || document.getElementById('m5').value == "") {
            alert("请填完所有项");
            return false;
        }
        return true;
    }
</script>
    <form action="/add_select" method="post" onsubmit="return check_input();">
      <h4>问题描述:</h4>
      <textarea name="question" id="m1"></textarea>
      <br />
      <h4>正确答案：</h4>
      <select name="right_select">
         <option value="0">A</option>
         <option value="1">B</option>
         <option value="2">C</option>
         <option value="3">D</option>
      </select>
      <br />
      <h4>选项：</h4>
      A. <input type="text" name="a" id="m2" /><br />
      B. <input type="text" name="b" id="m3" /><br />
      C. <input type="text" name="c" id="m4" /><br />
      D. <input type="text" name="d" id="m5" /><br />
      <input type="submit" value="OK" />
    </form>
{% endblock %}
